<table>
	<h3>Search results</h3>
	<% i=0%>
	<%@search_results.each do |gif|%>
	<% i+=1%>
	<%if i % 3 == 1%>
	<tr>
		<%end%>
		<td><img src=<%= gif%> height="150" width="150"></td>
		<%if i % 3 == 0%>
	</tr>
	<%end%>
	<%end%>
</table>